<a href="https://colab.research.google.com/github/naenumtou/ifrs9/blob/main/ECL/amortization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Set auto reload
%reload_ext autoreload
%autoreload 2

In [2]:
# Install numpy financial library
!pip install numpy-financial

Collecting numpy-financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from numpy-financial) (1.19.5)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import numpy_financial as npf

# Config
pd.options.display.float_format = "{:.2f}".format #Table format

In [4]:
# Define amortization function
def amortization_schedule(interest_rate, terms, balance):
  df = pd.DataFrame(
      index = np.arange(1, terms + 1),
      columns = ['Payment', 'Principal', 'Interest'],
      dtype = np.float64
  )
  df['Payment'] = npf.pmt(interest_rate / 12, terms, balance)
  df['Principal'] = npf.ppmt(interest_rate / 12, df.index, terms, balance)
  df['Interest'] = npf.ipmt(interest_rate / 12, df.index, terms, balance)
  df['Ending_Balance'] = balance + df['Principal'].cumsum()
  return df

In [5]:
# Apply function
ats = amortization_schedule(0.036, 24, 500000)
ats

     Payment  Principal  Interest  Ending_Balance
1  -21623.55  -20123.55  -1500.00       479876.45
2  -21623.55  -20183.92  -1439.63       459692.52
3  -21623.55  -20244.48  -1379.08       439448.05
4  -21623.55  -20305.21  -1318.34       419142.84
5  -21623.55  -20366.12  -1257.43       398776.71
6  -21623.55  -20427.22  -1196.33       378349.49
7  -21623.55  -20488.51  -1135.05       357860.98
8  -21623.55  -20549.97  -1073.58       337311.01
9  -21623.55  -20611.62  -1011.93       316699.39
10 -21623.55  -20673.46   -950.10       296025.94
11 -21623.55  -20735.48   -888.08       275290.46
12 -21623.55  -20797.68   -825.87       254492.78
13 -21623.55  -20860.08   -763.48       233632.70
14 -21623.55  -20922.66   -700.90       212710.05
15 -21623.55  -20985.42   -638.13       191724.63
16 -21623.55  -21048.38   -575.17       170676.25
17 -21623.55  -21111.52   -512.03       149564.72
18 -21623.55  -21174.86   -448.69       128389.86
19 -21623.55  -21238.38   -385.17       107151.48
20 -21623.55  -21302.10   -321.45        85849.38
21 -21623.55  -21366.01   -257.55        64483.37
22 -21623.55  -21430.10   -193.45        43053.27
23 -21623.55  -21494.39   -129.16        21558.88
24 -21623.55  -21558.88    -64.68           -0.00